---
swagger: "2.0"
info:
  version: "0.0.1"
  title: "SNP Exploration REST API"
paths:
  /chromosome:
    get:
      tags:
      - "default"
      description: "Gets chromosome metadata\n"
      operationId: "snp_app.default_controller.chromosome_get"
      responses:
        200:
          description: "Successful response"
          schema:
            type: "array"
            title: "ArrayOfChromosomes"
            items:
              $ref: "#/definitions/Chromosome"
  /data:
    get:
      tags:
      - "default"
      description: "get snp data for locus zoom and lineup\n"
      operationId: "snp_app.default_controller.data_get"
      parameters:
        - $ref: '#/parameters/geq_significance'
        - $ref: '#/parameters/leq_significance'
        - $ref: '#/parameters/from_chromosome'
        - $ref: '#/parameters/from_location'
        - $ref: '#/parameters/to_chromosome'
        - $ref: '#/parameters/to_location'
      responses:
        200:
          description: "Successful response"
          schema:
            type: "array"
            title: "ArrayOfSNPs"
            items:
              $ref: "#/definitions/SNP"
  /data_count:
    get:
      tags:
      - "default"
      description: "get snp data count\n"
      operationId: "snp_app.default_controller.data_count_get"
      parameters:
        - $ref: '#/parameters/geq_significance'
        - $ref: '#/parameters/leq_significance'
        - $ref: '#/parameters/from_chromosome'
        - $ref: '#/parameters/from_location'
        - $ref: '#/parameters/to_chromosome'
        - $ref: '#/parameters/to_location'
      responses:
        200:
          description: "Successful response"
          schema:
            type: "number"
  /manhattan:
    get:
      tags:
      - "default"
      description: "Gets manhattan plot data\n"
      operationId: "snp_app.default_controller.manhattan_get"
      parameters:
      - $ref: '#/parameters/geq_significance'
      - name: "plain"
        in: "query"
        description: "plain results no axes"
        required: false
        type: "boolean"
      - name: "width"
        in: "query"
        description: "width of the plot in pixel (guessed)"
        required: false
        type: "number"
        format: "integer"
      - name: "height"
        in: "query"
        description: "height of the plot in pixel (guessed)"
        required: false
        type: "number"
        format: "integer"
      responses:
        200:
          description: "Successful response"
  /manhattan_meta:
    get:
      tags:
      - "default"
      description: "Gets manhatta plot meta data\n"
      operationId: "snp_app.default_controller.manhattan_meta_get"
      parameters:
      - $ref: '#/parameters/geq_significance'
      responses:
        200:
          description: "Successful response"
parameters:
  from_chromosome:
    name: "from_chromosome"
    in: "query"
    description: "start chromosome, if neither from_chromosome nor to_chromosome is given all data is returned"
    required: false
    type: "string"
  from_location:
    name: "from_location"
    in: "query"
    description: "within chromosome start location"
    required: false
    type: "number"
    format: "int32"
  to_chromosome:
    name: "to_chromosome"
    in: "query"
    description: "end chromosome, default value the same as from_chromosome"
    required: false
    type: "string"
  to_location:
    name: "to_location"
    in: "query"
    description: "within chromosome end location, default value the end of the chromosome"
    required: false
    type: "number"
    format: "int32"
  geq_significance:
    name: "geq_significance"
    in: "query"
    description: "filter the resulting containing just SNP having a significance\
      \ >= the argument"
    required: false
    type: "number"
    format: "double"
  leq_significance:
    name: "leq_significance"
    in: "query"
    description: "filter the resulting containing just SNP having a significance\
      \ <= the argument"
    required: false
    type: "number"
    format: "double"
definitions:
  SNP:
    properties:
      refsnp_id:
        type: "string"
      chr_name:
        type: "string"
      chrom_start:
        type: "number"
        format: "int32"
      allele1:
        type: "string"
      allele2:
        type: "string"
      freqA1:
        type: "number"
        format: "double"
      beta:
        type: "number"
        format: "double"
      se:
        type: "number"
        format: "double"
      pval:
        type: "number"
        format: "double"
      N:
        type: "number"
        format: "int32"
  Chromosome:
    properties:
      chr_name:
        type: "string"
      start:
        type: "number"
        format: "int32"
      end:
        type: "number"
        format: "int32"
      derived:
        type: "boolean"
      length:
        type: "number"
        format: "int32"
      shift:
        type: "number"
        format: "int32"
