

section {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  > * {
    flex: 1 1 auto;
  }

  .lu {
    height: 40vh;
    overflow-y: auto;
  }

  .datavisyn-manhattanplot-detail-window {
    fill: black;
    opacity: 0.2;
  }

  div.datavisyn-scatterplot {
    height: 20vh;
  }

  div.datavisyn-gene-exon {
    height: 100px;
  }

  ul {
    max-height: 50vh;
    overflow-y: auto;
  }

  section {
    flex-direction: column;
    align-items: stretch;
  }
}


.selected {
  background-color: red;
}

