

section {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  > * {
    min-height: 40vh;
    flex: 1 1 auto;
  }

  .lu {
    height: 40vh;
    overflow-y: auto;
  }

  ul {
    max-height: 50vh;
    overflow-y: auto;
  }

  section {
    flex-direction: column;
  }
}


.selected {
  background-color: red;
}
