

section {
  .lu {
    height: 40vh;
    overflow-y: auto;
  }

  .datavisyn-manhattanplot-detail-window {
    fill: black;
    opacity: 0.2;
  }

  div.datavisyn-scatterplot {
    height: 20vh;
  }

  div.datavisyn-gene-exon {
    height: 100px;
  }

  ul {
    max-height: 50vh;
    overflow-y: auto;
  }

  section {
    min-height: 50vh;
  }

  #snp-lineup, #snp-scatterplot {
    display: none;
  }

  #snp-scatterplot.active {
    display: block;
  }

  #snp-lineup.active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

svg.detailBand {
  path {
    fill: black;
    opacity: 0.2;
  }
}

.datavisyn-gene-exon {
  line {
    stroke: black
  }
  g.gene {
    &:hover {
      text {
        fill: orange;
      }
      line {
        stroke: orange;
      }
    }
    text {
      font-family: sans-serif;
      font-size: 10px;
    }
  }
}

.selected {
  background-color: red;
}

